<!DOCTYPE html>
<html>
  <head>
    <title> FE Boilerplate | Components </title>
    <!-- For mobile responsive sites only -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- *** -->
    <!-- CSS -->
    <!-- *** -->
    <link rel="stylesheet" href="/css/pages/components.css" >

  </head>
  <body>

    <div id="components" class="layout-content">
      <div class="head"> Components </div>
      <div class="content">

        <div class="style-section" id="generic">
          <a class="anchor-link" href="#generic">
            Generic
          </a>

          <div class="style-item top-level">
            <div class="head">
              .container
            </div>
            <div class="content">
              <div class="container">
                content<br>
                content<br>
                content<br>              
              </div>
            </div>
          </div>
        </div>

        <div class="style-section" id="form">
          <a class="anchor-link" href="#form">
            Form Elements
          </a>
          <div class="style-item top-level"> 
            <div class="head">
              .input
            </div>
            <div class="content">
              <input class="input" type="text" placeholder="Enter your name" />
            </div>
          </div>

          <div class="style-item top-level"> 
            <div class="head">
              .btn
            </div>
            <div class="content">
              <div class="btn"> Button </div>
            </div>
          </div>

          <div class="style-item top-level"> 
            <div class="head">
              .select
            </div>
            <div class="content">
              <select name="name" class="select" >
                <option value="1" > Option 1 </option>
                <option value="2" > Option 2 </option>
                <option value="3" > Option 3 </option>
              <select>
            </div>
          </div>

          <div class="style-item top-level"> 
            <div class="head">
              .textarea
            </div>
            <div class="content">
              <textarea class="textarea" type="textarea" placeholder="Enter your name"></textarea>
            </div>
          </div>
          <br>

          <div class="style-item top-level"> 
            <div class="head">
              .label + .radio
            </div>
            <div class="content">
              <form>
                <input id="radio1" type="radio" name="name" value="One" class="radio" />
                <label for="radio1" class="label" >
                  <div class="checked-icon"></div>
                  <div class="unchecked-icon"></div>
                  One
                </label>
                <input id="radio2" type="radio" name="name" value="Two" class="radio" />
                <label for="radio2" class="label" >
                  <div class="checked-icon"></div>
                  <div class="unchecked-icon"></div>
                  Two
                </label>
              </form>
            </div>
          </div>

          <div class="style-item top-level"> 
            <div class="head">
              .label + .checkbox 
            </div>
            <div class="content">
              <form>

                <input id="checkbox1" type="checkbox" name="name" value="One" class="checkbox" />
                <label for="checkbox1" class="label" >
                  <div class="checked-icon"></div>
                  <div class="unchecked-icon"></div>
                  One
                </label>

                <input id="checkbox2" type="checkbox" name="name" value="Two" class="checkbox" />
                <label for="checkbox2" class="label" >
                  <div class="checked-icon"></div>
                  <div class="unchecked-icon"></div>
                  Two
                </label>

                <input id="checkbox3" type="checkbox" name="name" value="Three" class="checkbox" />
                <label for="checkbox3" class="label" >
                  <div class="checked-icon"></div>
                  <div class="unchecked-icon"></div>
                  Three
                </label>

              </form>
            </div>
          </div>

        </div>

        <div class="style-section" id="arrows">
          <a class="anchor-link" href="#arrows"> Arrows </a>
            <div class="style-item top-level">
              <div class="head">
                .arrow
              </div>
              <div class="content">
                <% ['up', 'right', 'down', 'left'].forEach(function( item ){ %>
                  <div class="style-item">
                    <div class="head"> .<%= item %> </div>
                    <div class="content">
                      <div class="arrow <%= item %>"></div>
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>

            <div class="style-item top-level"> 
              <div class="head">
                .border-arrow
              </div>
              <div class="content">
                <% ['up', 'right', 'down', 'left'].forEach(function( item, index ){ %>
                  <% var type = index%2 == 0 ? 'container' : 'btn'  %>
                  <div class="style-item">
                    <div class="head"> .<%= item %> </div>
                    <div class="content">
                      <div class="<%= type %> border-arrow <%= item %>">
                        .<%= type %>
                      </div>                  
                    </div>
                  </div>
                  <span style="margin-right: 10px"></span>
                <% }) %>
                <br>
                <% ['up', 'right', 'down', 'left'].forEach(function( item, index ){ %>
                  <% var type = index%2 == 0 ? 'container' : 'btn'  %>
                  <div class="style-item">
                    <div class="head"> .<%= item %>.big </div>
                    <div class="content" style="padding: 20px;" >
                      <div class="<%= type %> border-arrow big <%= item %>">
                        .<%= type %>
                      </div>                  
                    </div>
                  </div>
                  <span style="margin-right: 10px"></span>
                <% }) %>
                <div class="style-item">
                  <div class="head"> .up.offset </div>
                  <div class="content">
                    <div class="container border-arrow up offset">
                      .container
                    </div>                  
                  </div>
                </div>          
              </div>
            </div>          
        </div>

        <div class="style-section" id="spinners">
          <a class="anchor-link" href="#spinners">
            Spinners
          </a>

          <div class="style-item top-level"> 
            <div class="head">
              .spinner
            </div>
            <div class="content">
              <div class="spinner"></div>
            </div>
          </div>

          <div class="style-item top-level">
            <div class="head">
              .rotate
            </div>
            <div class="content">
              <div class="style-item">
                <div class="head">
                  .clockwise
                </div>
                <div class="content">
                  <div class="spinner rotate clockwise"></div>
                </div>
              </div>
              <div class="style-item">
                <div class="head">
                  .c-clockwise
                </div>
                <div class="content">
                  <div class="spinner rotate c-clockwise"></div>
                </div>
              </div>
            </div>     
          </div>

        </div>

        <div class="style-section" id="spinners">
          <a class="anchor-link" href="#spinners">
            Table
          </a>
          <div class="style-item" style="width: 100%;">
            <div class="head">
              .table
            </div>
            <div class="content">
              <table class="table">
                <tr>
                  <td>Jill</td>
                  <td>Smith</td> 
                  <td>50</td>
                </tr>
                <tr>
                  <td>Eve</td>
                  <td>Jackson</td> 
                  <td>94</td>
                </tr>
              </table>              
            </div>
        </div>
      </div>

    </div>

    <!-- ** -->
    <!-- JS -->
    <!-- ** -->
    <% include ./core_js %>
    <script src="/js/component.js"></script>
  </body>
</html>