<!DOCTYPE html>
<html lang="en">
  <head>
    <title> <%= title %> </title>
    <!-- For mobile responsive sites only -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- use minified assets if specified -->
    <% var min = (process.env.NODE_ENV === 'production' || req.query.minified) ? '.min' : '' %>

    <!-- Include minifed css in head in production -->
    <% if( process.env.NODE_ENV === 'production' || req.query.minified ){ %>
      <link rel="stylesheet" href="/build/common<%= min %>.css" >
      <link rel="stylesheet" href="/build/<%= entry_js %><%= min %>.css" >
    <% } %>
  </head>
  <body>
    <div id="app">
    </div>
    <!-- JS -->
    <% if( process.env.NODE_ENV === 'production' || req.query.minified ){ %>
      <script src="/build/common<%= min %>.js"></script>
      <script src="/build/<%= entry_js %><%= min %>.js"></script>
    <% } else { %>
      <script src="/build/common.js"></script>
      <script src="/build/<%= entry_js %>.js"></script>
    <% } %>
  </body>
</html>
