<!DOCTYPE html>
<html lang="en">
  <head>
    <title> <%= title %> </title>
    <!-- For mobile responsive sites only -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- use minified assets if specified -->
    <% var min = req.query.minified ? '.min' : '' %>

    <!-- CSS -->
    <link rel="stylesheet" href="/build/common<%= min %>.css" >
    <link rel="stylesheet" href="/build/main<%= min %>.css" >    
  </head>
  <body>
    <div id="main">
      <div class="layout-header" >
        <div class="title"> Black and White </div>
        <img class="yinyang" width="50" height="50" src="/img/yinyang.png" />
        <div class="text1" > Simple, extensible UI framework </div>
      </div>
      <div class="layout-content" >
        <% ['form', 'arrow', 'spinner', 'table'].forEach( function( item ){ %>
          <%- include('./section', {
            item: item,
            drop_content: './'+item+'_content'
          }) %>
        <% })%>        
      </div>
    </div>
    <!-- JS -->
    <script src="/build/common<%= min %>.js"></script>
    <script src="/build/main<%= min %>.js"></script>
  </body>
</html>